USE [RAO_VAT]
GO
/****** Object:  ForeignKey [PK_BAITRALOI_NGUOIDUNG]    Script Date: 06/15/2011 17:13:23 ******/
ALTER TABLE [dbo].[BAITRALOI] DROP CONSTRAINT [PK_BAITRALOI_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_CHITIETGIAODIEN_BANNER]    Script Date: 06/15/2011 17:13:26 ******/
ALTER TABLE [dbo].[CHITIETGIAODIEN] DROP CONSTRAINT [FK_CHITIETGIAODIEN_BANNER]
GO
/****** Object:  ForeignKey [FK_CHITIETGIAODIEN_LOGO]    Script Date: 06/15/2011 17:13:26 ******/
ALTER TABLE [dbo].[CHITIETGIAODIEN] DROP CONSTRAINT [FK_CHITIETGIAODIEN_LOGO]
GO
/****** Object:  ForeignKey [FK_CHITIETGIAODIEN_NGUOIDUNG]    Script Date: 06/15/2011 17:13:26 ******/
ALTER TABLE [dbo].[CHITIETGIAODIEN] DROP CONSTRAINT [FK_CHITIETGIAODIEN_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_CHITIETGIAODIEN_THEME]    Script Date: 06/15/2011 17:13:26 ******/
ALTER TABLE [dbo].[CHITIETGIAODIEN] DROP CONSTRAINT [FK_CHITIETGIAODIEN_THEME]
GO
/****** Object:  ForeignKey [FK_CHITIETHOSOTUYENDUNG_HOSOTUYENDUNG]    Script Date: 06/15/2011 17:13:27 ******/
ALTER TABLE [dbo].[CHITIETHOSOTUYENDUNG] DROP CONSTRAINT [FK_CHITIETHOSOTUYENDUNG_HOSOTUYENDUNG]
GO
/****** Object:  ForeignKey [FK_CHITIETHOSOTUYENDUNG_NGANHNGHE]    Script Date: 06/15/2011 17:13:27 ******/
ALTER TABLE [dbo].[CHITIETHOSOTUYENDUNG] DROP CONSTRAINT [FK_CHITIETHOSOTUYENDUNG_NGANHNGHE]
GO
/****** Object:  ForeignKey [FK_DANHMUCCON_DANHMUCCHINH]    Script Date: 06/15/2011 17:13:29 ******/
ALTER TABLE [dbo].[DANHMUCCON] DROP CONSTRAINT [FK_DANHMUCCON_DANHMUCCHINH]
GO
/****** Object:  ForeignKey [FK_DANHMUCCHINH_CHUYENMUC]    Script Date: 06/15/2011 17:13:31 ******/
ALTER TABLE [dbo].[DANHMUCCHINH] DROP CONSTRAINT [FK_DANHMUCCHINH_CHUYENMUC]
GO
/****** Object:  ForeignKey [PK_EMAILNHANTINRAOVATTHEOMUCCON_DANHMUCCON]    Script Date: 06/15/2011 17:13:34 ******/
ALTER TABLE [dbo].[EMAILNHANTINRAOVATTHEOMUCCON] DROP CONSTRAINT [PK_EMAILNHANTINRAOVATTHEOMUCCON_DANHMUCCON]
GO
/****** Object:  ForeignKey [PK_EMAILNHANTINRAOVATTHEOMUCCHINH_DANHMUCCHINH]    Script Date: 06/15/2011 17:13:35 ******/
ALTER TABLE [dbo].[EMAILNHANTINRAOVATTHEOMUCCHINH] DROP CONSTRAINT [PK_EMAILNHANTINRAOVATTHEOMUCCHINH_DANHMUCCHINH]
GO
/****** Object:  ForeignKey [FK_HOSOTUYENDUNG_TINRAOVAT]    Script Date: 06/15/2011 17:13:40 ******/
ALTER TABLE [dbo].[HOSOTUYENDUNG] DROP CONSTRAINT [FK_HOSOTUYENDUNG_TINRAOVAT]
GO
/****** Object:  ForeignKey [FK_LSNGUOIDUNG_NGUOIDUNG]    Script Date: 06/15/2011 17:13:42 ******/
ALTER TABLE [dbo].[LICHSUNGUOIDUNG] DROP CONSTRAINT [FK_LSNGUOIDUNG_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_LSNGUOIDUNG1_NGUOIDUNG]    Script Date: 06/15/2011 17:13:43 ******/
ALTER TABLE [dbo].[LICHSUNGUOIDUNGVIPHAM] DROP CONSTRAINT [FK_LSNGUOIDUNG1_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_LSNGUOIDUNG2_NGUOIDUNG]    Script Date: 06/15/2011 17:13:43 ******/
ALTER TABLE [dbo].[LICHSUNGUOIDUNGVIPHAM] DROP CONSTRAINT [FK_LSNGUOIDUNG2_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_LSTINRAOVATVIPHAM_NGUOIDUNG]    Script Date: 06/15/2011 17:13:45 ******/
ALTER TABLE [dbo].[LICHSUTINRAOVATVIPHAM] DROP CONSTRAINT [FK_LSTINRAOVATVIPHAM_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_LSTINRAOVATVIPHAM_TINRAOVAT]    Script Date: 06/15/2011 17:13:45 ******/
ALTER TABLE [dbo].[LICHSUTINRAOVATVIPHAM] DROP CONSTRAINT [FK_LSTINRAOVATVIPHAM_TINRAOVAT]
GO
/****** Object:  ForeignKey [FK_LIKED_BAITRALOI]    Script Date: 06/15/2011 17:13:47 ******/
ALTER TABLE [dbo].[LIKED] DROP CONSTRAINT [FK_LIKED_BAITRALOI]
GO
/****** Object:  ForeignKey [FK_LIKED_NGUOIDUNG]    Script Date: 06/15/2011 17:13:47 ******/
ALTER TABLE [dbo].[LIKED] DROP CONSTRAINT [FK_LIKED_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_LIKED_TINRAOVAT]    Script Date: 06/15/2011 17:13:47 ******/
ALTER TABLE [dbo].[LIKED] DROP CONSTRAINT [FK_LIKED_TINRAOVAT]
GO
/****** Object:  ForeignKey [FK_MAILSERVER_TREATAS]    Script Date: 06/15/2011 17:13:51 ******/
ALTER TABLE [dbo].[MAILSERVER] DROP CONSTRAINT [FK_MAILSERVER_TREATAS]
GO
/****** Object:  ForeignKey [FK_NGUOIDUNG_LOAINGUOIDUNG]    Script Date: 06/15/2011 17:13:55 ******/
ALTER TABLE [dbo].[NGUOIDUNG] DROP CONSTRAINT [FK_NGUOIDUNG_LOAINGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_QUANGCAO_LOAIQUANGCAO]    Script Date: 06/15/2011 17:13:57 ******/
ALTER TABLE [dbo].[QUANGCAO] DROP CONSTRAINT [FK_QUANGCAO_LOAIQUANGCAO]
GO
/****** Object:  ForeignKey [PK_QUANGCAO_NGUOIDUNG]    Script Date: 06/15/2011 17:13:57 ******/
ALTER TABLE [dbo].[QUANGCAO] DROP CONSTRAINT [PK_QUANGCAO_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_TINNHAN1_NGUOIDUNG]    Script Date: 06/15/2011 17:13:59 ******/
ALTER TABLE [dbo].[TINNHAN] DROP CONSTRAINT [FK_TINNHAN1_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_TINNHAN2_NGUOIDUNG]    Script Date: 06/15/2011 17:13:59 ******/
ALTER TABLE [dbo].[TINNHAN] DROP CONSTRAINT [FK_TINNHAN2_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_TINRAOVAT_DANHMUCCON]    Script Date: 06/15/2011 17:14:01 ******/
ALTER TABLE [dbo].[TINRAOVAT] DROP CONSTRAINT [FK_TINRAOVAT_DANHMUCCON]
GO
/****** Object:  ForeignKey [FK_TINRAOVAT_DIADIEM]    Script Date: 06/15/2011 17:14:01 ******/
ALTER TABLE [dbo].[TINRAOVAT] DROP CONSTRAINT [FK_TINRAOVAT_DIADIEM]
GO
/****** Object:  ForeignKey [FK_TINRAOVAT_NGUOIDUNG]    Script Date: 06/15/2011 17:14:01 ******/
ALTER TABLE [dbo].[TINRAOVAT] DROP CONSTRAINT [FK_TINRAOVAT_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_TINRAOVATBATDONGSAN_TINRAOVAT]    Script Date: 06/15/2011 17:14:09 ******/
ALTER TABLE [dbo].[TINRAOVATBATDONGSAN] DROP CONSTRAINT [FK_TINRAOVATBATDONGSAN_TINRAOVAT]
GO
/****** Object:  ForeignKey [FK_TINRAOVATDALUU_NGUOIDUNG]    Script Date: 06/15/2011 17:14:10 ******/
ALTER TABLE [dbo].[TINRAOVATDALUU] DROP CONSTRAINT [FK_TINRAOVATDALUU_NGUOIDUNG]
GO
/****** Object:  ForeignKey [FK_TINRAOVATDALUU_TINRAOVAT]    Script Date: 06/15/2011 17:14:10 ******/
ALTER TABLE [dbo].[TINRAOVATDALUU] DROP CONSTRAINT [FK_TINRAOVATDALUU_TINRAOVAT]
GO
/****** Object:  ForeignKey [FK_TINRAOVATTHUONG_TINRAOVAT]    Script Date: 06/15/2011 17:14:11 ******/
ALTER TABLE [dbo].[TINRAOVATTHUONG] DROP CONSTRAINT [FK_TINRAOVATTHUONG_TINRAOVAT]
GO
/****** Object:  ForeignKey [FK_TINTUYENDUNG_NGANHNGHE]    Script Date: 06/15/2011 17:14:16 ******/
ALTER TABLE [dbo].[TINTUYENDUNG] DROP CONSTRAINT [FK_TINTUYENDUNG_NGANHNGHE]
GO
/****** Object:  ForeignKey [FK_TINTUYENDUNG_TINRAOVAT]    Script Date: 06/15/2011 17:14:16 ******/
ALTER TABLE [dbo].[TINTUYENDUNG] DROP CONSTRAINT [FK_TINTUYENDUNG_TINRAOVAT]
GO
/****** Object:  Table [dbo].[LICHSUNGUOIDUNG]    Script Date: 06/15/2011 17:13:42 ******/
DROP TABLE [dbo].[LICHSUNGUOIDUNG]
GO
/****** Object:  Table [dbo].[LICHSUNGUOIDUNGVIPHAM]    Script Date: 06/15/2011 17:13:43 ******/
DROP TABLE [dbo].[LICHSUNGUOIDUNGVIPHAM]
GO
/****** Object:  Table [dbo].[CHITIETGIAODIEN]    Script Date: 06/15/2011 17:13:26 ******/
DROP TABLE [dbo].[CHITIETGIAODIEN]
GO
/****** Object:  Table [dbo].[MAILSERVER]    Script Date: 06/15/2011 17:13:51 ******/
DROP TABLE [dbo].[MAILSERVER]
GO
/****** Object:  Table [dbo].[QUANGCAO]    Script Date: 06/15/2011 17:13:57 ******/
DROP TABLE [dbo].[QUANGCAO]
GO
/****** Object:  Table [dbo].[TINRAOVATTHUONG]    Script Date: 06/15/2011 17:14:11 ******/
DROP TABLE [dbo].[TINRAOVATTHUONG]
GO
/****** Object:  Table [dbo].[TINRAOVATBATDONGSAN]    Script Date: 06/15/2011 17:14:09 ******/
DROP TABLE [dbo].[TINRAOVATBATDONGSAN]
GO
/****** Object:  Table [dbo].[TINTUYENDUNG]    Script Date: 06/15/2011 17:14:16 ******/
DROP TABLE [dbo].[TINTUYENDUNG]
GO
/****** Object:  Table [dbo].[EMAILNHANTINRAOVAT]    Script Date: 06/15/2011 17:13:32 ******/
DROP TABLE [dbo].[EMAILNHANTINRAOVAT]
GO
/****** Object:  Table [dbo].[EMAILNHANTINRAOVATTHEOMUCCHINH]    Script Date: 06/15/2011 17:13:35 ******/
DROP TABLE [dbo].[EMAILNHANTINRAOVATTHEOMUCCHINH]
GO
/****** Object:  Table [dbo].[EMAILNHANTINRAOVATTHEOMUCCON]    Script Date: 06/15/2011 17:13:34 ******/
DROP TABLE [dbo].[EMAILNHANTINRAOVATTHEOMUCCON]
GO
/****** Object:  Table [dbo].[LIKED]    Script Date: 06/15/2011 17:13:46 ******/
DROP TABLE [dbo].[LIKED]
GO
/****** Object:  Table [dbo].[TINRAOVATDALUU]    Script Date: 06/15/2011 17:14:10 ******/
DROP TABLE [dbo].[TINRAOVATDALUU]
GO
/****** Object:  Table [dbo].[TINNHAN]    Script Date: 06/15/2011 17:13:59 ******/
DROP TABLE [dbo].[TINNHAN]
GO
/****** Object:  Table [dbo].[LICHSUTINRAOVATVIPHAM]    Script Date: 06/15/2011 17:13:45 ******/
DROP TABLE [dbo].[LICHSUTINRAOVATVIPHAM]
GO
/****** Object:  Table [dbo].[CHITIETHOSOTUYENDUNG]    Script Date: 06/15/2011 17:13:27 ******/
DROP TABLE [dbo].[CHITIETHOSOTUYENDUNG]
GO
/****** Object:  Table [dbo].[LOAINGUOIDUNG]    Script Date: 06/15/2011 17:13:48 ******/
DROP TABLE [dbo].[LOAINGUOIDUNG]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 06/15/2011 17:13:54 ******/
DROP TABLE [dbo].[NGUOIDUNG]
GO
/****** Object:  Table [dbo].[THEME]    Script Date: 06/15/2011 17:14:18 ******/
DROP TABLE [dbo].[THEME]
GO
/****** Object:  Table [dbo].[LOGO]    Script Date: 06/15/2011 17:13:49 ******/
DROP TABLE [dbo].[LOGO]
GO
/****** Object:  Table [dbo].[BANNERGIAODIEN]    Script Date: 06/15/2011 17:13:24 ******/
DROP TABLE [dbo].[BANNERGIAODIEN]
GO
/****** Object:  Table [dbo].[TREATAS]    Script Date: 06/15/2011 17:14:19 ******/
DROP TABLE [dbo].[TREATAS]
GO
/****** Object:  Table [dbo].[LOAIQUANGCAO]    Script Date: 06/15/2011 17:13:48 ******/
DROP TABLE [dbo].[LOAIQUANGCAO]
GO
/****** Object:  Table [dbo].[CHUYENMUC]    Script Date: 06/15/2011 17:13:28 ******/
DROP TABLE [dbo].[CHUYENMUC]
GO
/****** Object:  Table [dbo].[DANHMUCCHINH]    Script Date: 06/15/2011 17:13:31 ******/
DROP TABLE [dbo].[DANHMUCCHINH]
GO
/****** Object:  Table [dbo].[DANHMUCCON]    Script Date: 06/15/2011 17:13:29 ******/
DROP TABLE [dbo].[DANHMUCCON]
GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 06/15/2011 17:13:31 ******/
DROP TABLE [dbo].[DIADIEM]
GO
/****** Object:  Table [dbo].[TINRAOVAT]    Script Date: 06/15/2011 17:14:01 ******/
DROP TABLE [dbo].[TINRAOVAT]
GO
/****** Object:  Table [dbo].[NGANHNGHE]    Script Date: 06/15/2011 17:13:52 ******/
DROP TABLE [dbo].[NGANHNGHE]
GO
/****** Object:  Table [dbo].[HOSOTUYENDUNG]    Script Date: 06/15/2011 17:13:40 ******/
DROP TABLE [dbo].[HOSOTUYENDUNG]
GO
/****** Object:  Table [dbo].[BAITRALOI]    Script Date: 06/15/2011 17:13:23 ******/
DROP TABLE [dbo].[BAITRALOI]