
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	background: url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0E4456;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #08252E;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 220%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #842946; }

a:hover { text-decoration: none; }

a img {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    height: 125px;
    width: 627px;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

/* Header */

#header-wrapper {
	margin: 0px;
	padding: 0px;
}

#header {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 690px;
	height: 60px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 40px;
	margin-right: 4px;
	padding: 20px 10px 0px 10px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
	height: 40px;
	padding: 20px 10px 0px 10px;
	background: #280612;
}


#menu .current_page_item a {
	height: 40px;
	padding: 20px 10px 0px 10px;
	background: #280612;
	color: #FFFFFF;
}

#menu .first {
	background: none;
}
/* Search */

#search {
	float: right;
	width: 310px;
	height: 60px;
}

#search form {
	float: right;
	margin: 0;
	padding: 24px 30px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 200px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	background: url(images/img04.jpg) no-repeat left bottom;
}

#color_bar
{
	font-size: 10px;
	font-weight: bold;
	border-bottom: #ccc 1px solid;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	height: 27px;
	padding-top: 13px;
	color: #FFFFFF;
}

#color_bar
{
	background: #971B1E;
}

#nav_browse
{
	float: right;
}

#nav_login
{
	float: left;
}

#crumbs
{
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	height: 26px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: middle;
	background: #75746E url(images/background_crumbs.jpg) repeat-x top;
	margin: 0px auto 5px;
}

/*col_main_left*/

#col_main_left
{
	width: 198px;
	float: left;
	border-right: 3px solid #DFDCCB;
	background: #E1DFCF;
}

#featured_item
{
	height: 200px;
	width: 176px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #A29F93;
	border-bottom-color: #A29F93;
	border-left-color: #FFFFFF;
	text-align: center;
	font-size: 0.8em;
	margin-bottom: 3px;
	margin-right: 0px;
	background: #DCDACE url(images/background_feature.jpg) repeat-x top;
}

.display_left #featured_item
{
	width: 160px;
	font-size: 1em;
}


#featured_item h2
{
	font-size: 1em;
	font-weight: bold;
	display: inline;
}

.row1 a:link img, .row2 a:link img, .display_left a:link img, #featured_item a:link img
{
	border: 1px solid #666;
}

.row1 a:visited img, .row2 a:visited img, .display_left a:visited img, #featured_item a:visited img
{
	border: 1px solid #666;
}

#announcements
{
	font-size: 0.8em;
	padding: 10px;
	height: 100%;
	background: #F7F6F2;
}

#announcements ul
{
	margin-top: 0px;
}

#announcements li
{
	list-style-position: outside;
	list-style-image: url(images/ul_arrow.gif);
	margin-bottom: 15px;
	margin-left: -24px;
}

/*col_main_right*/

#col_main_right
{
	border-left: 3px solid #DFDCCB;
	margin-left: 198px;
	border-right: 1px solid #CAC7B8;
	background: #F7F6F2;
}

.section
{
	padding: 10px;
	height: 17px;
	font-size: 0.8em;
	font-weight: bold;
	border-bottom: 2px solid #E4E2D5;
	margin-bottom: 0px;
}

h3.section
{
	font-size: 1.2em;
}

.content_right
{
	font-size: 0.8em;
}

/** LOGO */

#logo {
	width: 1000px;
	height: 140px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	padding-left: 22px;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h1 {
	padding-left: 20px;
	padding-top: 50px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 a {
	text-decoration: none;
	text-transform: capitalize;
	color: #FFFFFF;
}


#banner {
	float: right;
	margin-top: -100px;
	padding: 0px 20px 0px 0px;
}

/* Footer */

#footer-bgcontent {
	margin: 0px;
	padding: 0px;
	height: 70px;
	background: url(images/img02.jpg) repeat-x left top;
}

#footer {
	width: 1000px;
	height: 49px;
	margin: 0 auto;
	padding-top: 50px;
	background: url(images/img03.jpg) no-repeat left top;
}

#footer p {
	margin: 0;
	padding-right: 30px;
	text-align: right;
	line-height: normal;
	font-size: 10px;
}

#footer a {
}

