html
{
    background:#EBF1F0 url(../Images/bgtop.png) no-repeat;
    width: 1024px;
    margin: auto;
}
body
{
}
#outerWrapper
{
    margin: auto;
}
#menu
{
    background:url(../Images/menubar.png) no-repeat;
    height:60px;
    padding-right:69px;
    padding-top:9px; 
    margin: auto;   
}
#